.userOverview {
    display:flex;
    flex-direction: column;
}

.userOverviewX {
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: 700;
    cursor: pointer;
}

.closeOverview {
    background-color: #34495e;
    padding: 10px 0px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
    width: 100%;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    margin-top: 10px;
}

.closeOverview:hover {
    background-color: #4e616d;
    color: white;
}

