.sidebar {
    max-width: 290px;
    width: 100%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin: 40px;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
    height: 100%;
    border-radius: 5px;
}
  
.sidebar img {
    height: 50px;
    width: 50px;
    border-radius: 40%;
}

.sidebar-upper h2 {
    margin: 0;
    font-size: 18px;
}
  
.sidebar-upper {
    display: flex;
    flex-direction: column;
    background-color: #3a86ff;
    padding: 25px 9px;
    border-radius: 10px;
    height: 75vh;
    justify-content: space-between;
}
  
.mobile-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    padding-top: 50px;
}    
  
.shortcuts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
.sidebar-upper h1 {
    text-align: center;
    width: 100%;
    margin: 0;
    color: #086788;
}
  
.personalNotebook {
    max-width: 290px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #A5C1D3;
    padding-bottom: 10px; 
}
  
.personalNotebook h1 {
    color: white;
}
  
.developedByDux {
    max-width: 280px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #e85d04;
    height: 30px;
    align-items: center;
}
  
.sidebarButton {
    background-color: #3a86ff;
    border: none;
    cursor: pointer;
    max-width: 290px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}    
  
.personalNotebook :hover {
    background-color: #A5C1D3;
}
  
.shortcuts :hover {
    background-color: #A5C1D3;
}