.holder-centralni-dio {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    max-width: 1920px;
    width: 100%;
}

.addNewTaskDataInput {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    min-height: 15vh;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 49vh;
}

.addNewTaskDataInput label {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    margin: 10px auto;
    font-size: 18px;
    max-width: 450px;
    width: 100%;
}

.addNewTaskDataInput input {
    max-width: 450px;
    width: 100%;
    text-indent: 10px;
    font-style: italic;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 500;
    color: gray;
    border: 1px solid rgb(197 197 197);
    border-radius: 5px;
}

.addNewTaskForm {
    gap: 10px;
    display: flex;
    flex-direction: column;
}