.addNewTaskDataInput {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    min-height: 15vh;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    height: 100%;
    margin: 0px auto;
}

.addNewTaskForm {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    justify-content: flex-end;
    margin: 30px auto 0px;
    gap: 10px;
}

.addNewTaskForm input {
    background-color: white;
}