.viewTaskName {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.confirmX {
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: 700;
    cursor: pointer;
}

.closeButton {
    max-width: 100px;
    width: 100%;
}