.confirmDeclineButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    width: 100%;
}

.confirmDeclineButtons :hover {
        background-color: #4e616d;
        color: white;
}

.confirmButton {
    background-color: #a7c957;
    max-width: 160px;
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10px;
}

.declineButton {
    background-color: #e63946;
    max-width: 160px;
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10px;
}

.ParagraphTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.confirmX {
    position: absolute;
    right: 20px;
    top: 10px;
    font-weight: 700;
    cursor: pointer;
}    